body{
    background-color: #fefb62;
    margin: 0;
    padding: 0;
}
.recipe{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
}
.button{
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    border: #fefb62 solid;
}
.button:hover{
    background-color:  #fefb62 ;
    border: white solid; 
}
.input{
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 15px;
    border-radius: 20px;
    border: #fefb62 solid;
}
.input:hover{
    background-color: #fefb62;
    border: white solid;
}
.form{
    text-align: center;
}
.recipies{
    margin: 1rem ;
    background-color: #fbfcfc ;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
}
.ol{
    text-align: left;
}
.img{
    height: 300px;
    border-radius: 10%;
}
.heading{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(75, 73, 73);
}
.cal{
    background-color: rgba(243, 239, 6, 0.824);
    padding: 10px;
    margin: 10px 22%;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
}


@media(max-width: 850px){
    .recipe{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
    }
    .cal{
        background-color: rgba(243, 239, 6, 0.824);
        padding: 10px;
        margin: 1rem 0;
    }
    .input{
        margin: 1rem 0px;
        padding: 15px;
        border-radius: 20px;
        border: #fefb62 solid;
        width: 160px;
    }
}